 @font-face {
    font-family: Arimo; /* Имя шрифта */
    src: url(../fonts/arimo.ttf); /* Путь к файлу со шрифтом */
   }

body, html{
	height: 100%;

}
body{
	font-family: Arimo;
	margin: 0;
	padding: 0;
	background-color: #f1f1f1;
}
p, h1,h2,h3,h4,h5,h6,ul,li{
	margin: 0;
	padding: 0;
}
*{
	box-sizing: border-box;
}
.main-wrapper{
	background: #fff;
	width: 800px;
	height: 100%;
	margin: 0 auto 0 auto;
}
.content{
	min-height: 100%;
	
}
.header, .main-index, .footer{
	background-color: #fff;
	
}
.header, .main-index{
	
	margin-right: auto;
	margin-left: auto;
}
.header{
	height: 120px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 15px;
	padding-left: 15px;
}
/*align property in attribute of img*/
.header__image-left, .header__image-right, .header__image-center{

}
.header__image-left{
	height:120px; 	
}
.header__image-center{
	margin-left: 35px;
	margin-top: 20px;
	height: 50px;
}
.header__image-right{
	margin-top: 20px;
	height: 50px;
}
.main-index{
	display: block;
	padding: 5px 0px 10px 0px;
	overflow: auto;
}
.main-index .contacts-top{
	width: 200px;
	float: right;
	font-size: 14px;
}
.main-logo{
	/*background-image: url("../img/mainlogo.jpg");*/
	background: url("../img/logo.png"), url("../img/title.png");
	background-size: 80px, 550px;
	background-position: 0 0, 95px 15px;
	background-repeat: no-repeat; 
	height: 125px;
}
.main-index{

}
.banner{
	display: block;
	height: 350px;
	background-image: url("../img/blacklogo.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	margin-top: 10px;
	text-shadow: 1px 1px 2px black, 0 0 1em #000;
}
.banner--main{
	position: relative;
	padding-top: 35px;
	padding-right: 25px;
}
.banner-text{
	position: absolute;
	right: 25px;
	bottom: 20px;
	margin-top: 150px;
	text-align: right;
	font-size: 40px;
	color: #fff;
}
.banner--narrow{
	background-size: cover;
	background-position: 0 -250px;
	height: 150px;
}
.banner--second-narrow{
	background-size: cover;
	background-position: 0 -250px;
	height:85px;
}
.banner--category{
	background-image: url("../img/banner-black.jpg");
}
.banner--category h1{
	line-height: 150px;
	color: #fff;
	font-size: 70px;
	text-align: center;
	text-transform: uppercase;
}
.banner--product-list h1{
	font-size: 50px;
	line-height: 85px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	text-shadow:  1px 1px 2px black, 0 0 1em #000;
}
.nav{
	margin-bottom: 15px;	
	text-align: center;
}
.nav a{
	font-size: 25px;
	text-decoration: none;
	margin-right: 10%;
}
.nav a:last-child{
	margin-right: 0;
}
.promoted-menu li{

	height: 60px;
}
.menu.promoted-menu li a{

	padding: 5px 5px 0px 10px ;
}
.main-menu__button{
	transition: all 0.2s ease-in-out;
	background-color: #444;
	display: inline-flex;
	width: 200px;
	height: 200px;
	margin-right: 50px;
	text-align: center;
	padding-top: 45px; 
}
.main-menu__button--catalog{
	background-image: url('../img/buttons/catalog.jpg');
	background-size: cover;
}
.main-menu__button--about{
	background-image: url('../img/buttons/about.jpg');
	background-size: cover;
}
.main-menu__button--partners{
	background-image: url('../img/buttons/partners.jpg');
	background-size: cover;
}
.main-menu__button h2{
	font-size: 35px;
	text-shadow:  1px 1px 2px black, 0 0 1em #000;
}
.main-menu__button h3{
	margin: 0 auto 0 auto;
	text-align: center;
	font-size: 25px;
	text-shadow:  1px 1px 2px black, 0 0 1em #000;
}
.main-menu__text{
	witdh: 100%;
	margin: 0 auto 0 auto;
}
.main-menu__button:hover{
	
}
.main-menu .main-menu__button:nth-child(3n+3){
	margin-right: 0;
}
.main-menu .main-menu__button:first-child{

}
.site-info{
	
	width: 100%;
	margin: 0 auto 0 auto;
	font-size: 20px;
	text-align: center;
}
.site-info__products{
	
}
.site-info__products ul {
	border: none;
	/*border-top: 2px solid #1c4582;*/
}
.site-info__products ul li:first-child{
	height: 40px;
	/*border-bottom: 2px solid #1c4582;*/
}
.site-info__products ul li{
	font-size: 16px;
	/*border: 2px solid #1c4582;*/
	border-top: none;
}
.site-info_products-menu-title{
	font-weight: bold;
	border: none;
}
.site-info_see-all a{
	font-weight: bold;
	font-size: 14px;
	color: #931d29;
}
.site-info_see-all a:hover{

	color: #BBAAAA;
}
.site-info__main{
	
}
.site-info__news{
	width: 525px;
	margin-left: 275px;
		

}
.site-info__photos{
	padding: 15px 0 15px 0;
	text-align: center;
	width: 525px;
	margin-left: 275px;
}
.site-info__photos img{
	width: 23%;
}
.footer{
	height: 70px;
	margin: 0 auto 0 auto;
	padding-left: 25px;
}

.footer p{
	font-size: 15px;
	text-align: left;
}

.style-title{
	font-size: 30px;
	background-color: #00529c;
	color: white;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	padding-left: 10px;
	text-transform: uppercase;
}

table{
	width: 100%;
	border-collapse:collapse;
}
table th{
	font-size: 11px;
	border-bottom: 1px;
}
table td{
	font-size: 11px;
	height: 22px;
}
table td, table th{
	text-align: center;
	border: 1px solid #9c9e9f;
	background-color: #c7d5ee;
}
.table-index-row{
	background-color: white;
}
.product-list{
	overflow:hidden;
	padding-top: 35px;
	margin-bottom: 80px;
}
.product-list__list{
	width: 75%;
	font-size: 20px;
	float: left;
}

.product-link{
	text-decoration: none;
	color: #000;
}
.product-link:hover{
	text-decoration: underline;
}
.image-preview{
	
	max-height: 400px;
	position: fixed;
	bottom: 35px;
	margin-left: 750px; 
}
.image-preview img{
	max-height: 400px;
}
.product-info{
	overflow: auto;

}
.product-info__title{
	padding: 10px;
}
.product-info__text{

	float: left;
	width: 700px;
	background-color: #e7e7e8;
}
.product-info__text p{
	margin-bottom:0px;
}
.product-info__text table td, .product-info__text table th{
	padding: 0px;
}
.product-info__image{
	text-align: center;
	float: right;
	width: 100px;
	margin-bottom: 70px;
	margin-right: 100px;
}
.product-info__image img{
	width: 75px;

}
.product-info__description{
	text-indent: 15px;
	padding: 10px 10px 15px 20px;
}
.product-info__description h2{
	margin-bottom: 15px;
}
.product-info__options{
	background-color: #e8ce93;
	padding: 10px 10px 15px 25px;
}
.product-info__options h2{
	margin-bottom: 15px;
}
.index-main-block{
	background-image: url("../img/blacklogo.jpg");
	background-position: top right;
	background-size: contain;
	background-repeat: no-repeat;
	margin-bottom: 10px;
	margin-top: 10px;
	overflow: auto;
	position: relative;
}
.banner--about{
	font-size: 35px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	text-shadow:  1px 1px 2px black, 0 0 1em #000;
	margin-bottom: 25px;
}
.about-text{
	width: 75%;
	margin: 0 auto 0 auto;
	font-size: 20px;
	text-align: justify;
}
.about-text p{
	text-indent: 15px;
	margin-bottom: 10px;
}
.about-text p.about-text__important{
	font-size: 22px;
	color: #931d29;
	display: block;
	margin-bottom: 75px;
}
.about-text{
	overflow: auto;
}
.about-text__images{
	width: 150px;
	float: left;
}
.about-text__images img{
	max-width:none;
}
.about-text__text-contacts{
	float: right;
}
.about-text__text-contacts p{
	margin-bottom:0px;
}
.about-text__contacts-title{
	background-color: #dedcdd;
	color: #931d29;
	padding: 4px 6px 4px 6px;
	margin-bottom: 10px;
}
.main-menu li{
	display: inline;
	color: #2199e8;
	margin: 10px;
}
.main-menu li a{
	font-size:15px;
	text-transform: uppercase;
}
.main-menu{
	float: right;
	display: block;
	margin: 0 auto 0 auto;
	width: 525px;
	text-align: center;
	margin-bottom: 50px;
}
.main-menu a{
	margin-top: 35px;
}
.red-line, .blue-line{
	margin-top: 5px;
}
.red-line{
	border-bottom: 5px solid #931d29;
}
.blue-line{
	border-bottom: 5px solid #1c4582;
}
