<!DOCTYPE html>
{% load static %}
<html>
	
	<head>
		<link href='{% static "css/styles.css" %}' rel='stylesheet'>
		<link href='{% static "css/foundation.css" %}' rel='stylesheet'>
		{% block title %}
		{% endblock %}
	</head>
	<body>
	<div class="menu-centered top-menu">
		<ul class="menu">
			<li>
				<a href="{% url 'index' %}">
					Главная				
				</a>
			</li>
			<li>
				<a href="{% url 'catalog' %}">
					Каталог				
				</a>
			</li>
			<li>
				<a href="{% url 'about' %}">
					О Нас
				</a>
			</li>
		</ul>
	</div>
		<div class="main-wrapper">
			<div class="content">

			<header class="header">
			
				<img class="header__image-center" align="center" src='{% static "img/title.png" %}' >	
				<img class="header__image-left" align="left" src='{% static "img/logo.png" %}' >	
				<img class="header__image-right" align="right" src='{% static "img/sjs-logo.jpg" %}' >
			</header>
			
			{% block content %}
		
			{% endblock %}
			<footer class="footer">
				<p>Advanced Completion Equipment. 2016 +7 (812) 336 82 41</p>
			</footer>	
		</div>

		<script src="{% static 'js/script.js'%}" ></script>
	</body>

</html>
