<!DOCTYPE html>
{% load static %}
<html>
	
	<head>
		<link rel="shortcut icon" type="image/x-ico" href="{% static 'img/favicon.ico' %}"/>
		<link href='{% static "css/styles.css" %}' rel='stylesheet'>
		<link href='{% static "css/foundation.css" %}' rel='stylesheet'>
		<link href='{% static "css/gallery.prefixed.css" %}' rel='stylesheet'>
		<script src='{% static "js/jquery.js" %}'></script>
		
		{% block title %}
		{% endblock %}
	</head>
	<body>

	{% if not index %}

		<div class="menu-centered top-menu">

			<ul class="dropdown menu" data-dropdown-menu>
				<li>
					<a href="{% url 'index' %}">
						<img  style="position: relative;top: -2px;" width="20px" src="{% static 'img/home.png' %}">Главная				
					</a>
				</li>
				<li>
					<a href="{% url 'catalog' %}">
						<img  style="position: relative;top: -2px;" width="20px" src="{% static 'img/list-menu.png' %}">Каталог				
					</a>
				</li>
				<li>
					<a href="{% url 'about' %}">
						<img  style="position: relative;top: -2px;" width="20px" src="{% static 'img/business-cards.png' %}">О Нас
					</a>
				</li>
			</ul>
		</div>
	{% endif  %}
		<div class="main-wrapper">
			<div class="content">

			{% block content %}
		
			{% endblock %}
			
			<footer class="footer" style="text-align:left;">
				<p>Advanced Completion Equipment. <br> 2016 СПб, В.О.  13 линия 78, оф. 455 <br> email: info@ace-spb.ru <br> +7 (812) 336 82 41</p>
			</footer>	
		</div>
		<script src='{% static "js/foundation.js" %}'></script>
		<script src="{% static 'js/script.js'%}" ></script>
		
	</body>

</html>
