{% extends 'base.html' %}
{% load static %}
{% block title %}
	<title>Главная</title>
{% endblock %}
{% block content %}
	
			<main class="main-index">
			<div align="right" class="contacts-top">
			Санкт-Петербург, В . О. <br> 13 линия, 78 оф. 455<br>
				<img src="{% static 'img/phone-icon.png' %}" width="20px"> +7 (812) 336 82 41 <br>
				<img src="{% static 'img/email-icon.png' %}" width="20px"> info@ace-spb.ru <br>
			</div>
			<div class="main-logo">
				
			</div>

			<div class="index-main-block">

				<div class="site-info__products small-3 columns" style="padding-left:0px;padding-right: 0px;">
					<div>
						<ul class="menu vertical">

							{% for p in promoted_products %}
								<li><a href="{% url 'product' p.id %}">{{p.title}}</a></li>
							{% endfor %}

						</ul>
					</div>
				</div>


					<div class="banner-text">
						<a href="{% url 'catalog' %}"><img width="100px" src="{% static 'img/catalog-button.png' %}" ></a>
					</div>
			</div>

			<div class="main-menu-block">

				<ul class="main-menu" >
					<li>
						<a href="{% url 'index' %}">
							<img  style="position: relative;top: -2px;" width="20px" src="{% static 'img/home.png' %}">		
						</a>
					</li>
					<li>
						<a href="{% url 'about' %}">
							О компании
						</a>
					</li>
					<li>
						
						<a href="{% url 'about' %}">
							Контакты
						</a>
					</li>
					<li>
						<a href="{% url 'catalog' %}">
							Каталог				
						</a>
					</li>
					<li>
						<a href="{% url 'catalog' %}">
							Услуги
						</a>
					</li>
				</ul>
			</div>
			
			<div style="overflow:auto">
				<div class="site-info__photos">
							<img width="20%" src="{% static 'img/ludi.jpg' %}" alt="">
							<img width="20%" src="{% static 'img/cekh.jpg' %}" alt="">
							<img width="20%" src="{% static 'img/zavodi2.jpg' %}" alt="">
							<img width="20%" src="{% static 'img/cekh2.jpg' %}" alt="">
				</div>	
			</div>	

				<div class="blue-line"></div>
				<div class="red-line"> </div>
			


		</main>
	</div>
		
{% endblock %}
