{% extends 'base.html' %}
{% load static %}
{% block title %}
	<title>Главная</title>
{% endblock %}
{% block content %}
	
			<main class="main-index">
			<div align="right" class="contacts-top">
			Санкт-Петербург, В . О. <br> 13 линия, 78 оф. 455<br>
				<img src="{% static 'img/phone-icon.png' %}" width="20px"> +7 (812) 336 82 41 <br>
				<img src="{% static 'img/email-icon.png' %}" width="20px"> info@ace-spb.ru <br>
			</div>
			<div class="main-logo">
				
			</div>

			<div class="index-main-block">

				<div class="site-info__products small-3 columns" style="padding-left:0px;padding-right: 0px;">
					<div>
						<ul class="menu vertical promoted-menu">
							<li style="text-align:center">Оборудование</li>
							{% for p in promoted_products %}
								<li><a href="{% url 'product' p.id %}">
									{% if p.promoted_name != '0' %}
									{{p.promoted_name}}
									{% else %}
									{{p.title}}
									{% endif %}
								</a></li>
							{% endfor %}

						</ul>
					</div>
				</div>


					<div class="banner-text">
						<a href="{% url 'catalog' %}"><img width="100px" src="{% static 'img/catalog-button.png' %}" ></a>
					</div>
			</div>

			<div class="main-menu-block">

				<ul class="main-menu" >
					<li>
						<a href="{% url 'index' %}">
							<img  style="position: relative;top: -2px;" width="20px" src="{% static 'img/home.png' %}">		
						</a>
					</li>
					<li>
						<a href="{% url 'about' %}">
							О компании
						</a>
					</li>
					<li>
						
						<a href="{% url 'about' %}">
							Контакты
						</a>
					</li>
					<li>
						<a href="{% url 'catalog' %}">
							Каталог				
						</a>
					</li>
					<li>
						<a href="{% url 'catalog' %}">
							Услуги
						</a>
					</li>
				</ul>
			</div>
			
 						<div class="site-info__news">
 								<div class="gallery items-3">
 
 								  {% for n in news %}
 								  	<div id="item-{{forloop.counter}}" class="control-operator"></div>
 								  {% endfor %}
  								  
  									{% for n in news %}
  										  <figure style="margin:0px;padding: 0px;" class="item">
 										  	<h2>Новости</h2>
  										    <p>{{n.text|safe}}</p>
  										  </figure>
  									{% endfor %}
 
 								  <div class="controls">
 								  {% for n in news %}
 								    <a href="#item-{{forloop.counter}}" class="control-button">•</a>
 								  {% endfor %}
 
 								  </div>
 								</div>
 						</div>
				<div class="site-info__photos">
							<img src="{% static 'img/ludi.jpg' %}" alt="">
							<img src="{% static 'img/cekh.jpg' %}" alt="">
							<img src="{% static 'img/zavodi2.jpg' %}" alt="">
							<img src="{% static 'img/cekh2.jpg' %}" alt="">

				</div>	

		</main>
	</div>
		
{% endblock %}
