{% extends 'base.html' %}
{% load static %}
{% block title %}
	<title>Главная</title>
{% endblock %}
{% block content %}
	
	

		<main class="main-index">

			<div class="banner banner--main">
				<div class="banner-text">
					
					<p>г. Санкт-петербург</p>
					<p></p>
					<p>+7 (812) 336 82 41</p>
				</div>
			</div>

			<div class="site-info">
				
			</div>
			<div style="text-align:center" class="main-menu">
				<a class="main-menu__button main-menu__button--catalog" href="{% url 'catalog' %}"><div class="main-menu__text">
					<h2>Каталог</h2>
				</div></a>
				<a class="main-menu__button main-menu__button--about" style="margin-right:0px;" href="{% url 'about' %}"><div class="main-menu__text"> <h2>О нас</h2> </div></a>
<!--				<a class="main-menu__button main-menu__button--partners" href="{% url 'catalog' %}"><div class="main-menu__text"> <h2>Партнеры</h2> </div></a>-->
			</div>
			<div class="site-info">
				<p>Компания "Advanced Completion Equipment" OOO "ACE" основана в 2014 году. Располагается в Санкт-Петербурге.
				Одним из направлений работы является оказание консультаций при выборе, дальнейшая организация продаж и сервис внутрискважинного оборудования.</p>
			</div>
		</main>
	</div>
	
	
{% endblock %}
