{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Главная</title>
	<link rel="shortcut icon" type="image/x-ico" href="{% static 'img/favicon.ico' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/pure-min.css" %}">
	<script type="text/javascript" src="{% static "js/script.js" %}"></script>
	<style>
		.button-secondary {
	        background: rgb(66, 184, 221);
	        color: white; /* this is a light blue */
	    }
	</style>
</head>

<body>

	<header>
		<div class="header-logo">
			<img class="header__img-logo" src="{% static "img/logo.png"%}">
			<img class="header__img-title" src="{% static "img/title.png"%}">
		</div>
		<div class="header-menu pure-menu pure-menu-horizontal">
		    <ul class="pure-menu-list">
		        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Главная</a></li>
		        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
		            <a href="/catalog" id="menuLink1" class="pure-menu-link">Каталог</a>
		            <ul class="pure-menu-children">

		            	{% for c in categories %}
		            		<li class="pure-menu-item">
		            			<a href="/catalog/{{c.id}}" class="pure-menu-link">{{c.title}}</a>
		            		</li>
		            	{% endfor %}
		                <!--<li class="pure-menu-item"><a href="#" class="pure-menu-link">1</a></li>
		                <li class="pure-menu-item"><a href="#" class="pure-menu-link">2</a></li>
		                <li class="pure-menu-item"><a href="#" class="pure-menu-link">3</a></li> -->
		            </ul>
		        </li>
		        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Контакты</a></li>
		        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Новости</a></li>
		    </ul>
		</div>

	</header>

	<main class="product-main">

		<div class="product-wrapper">
			<div class="product-text">
				<div class="product-text-description">
					{{product.desctiption | safe }}	
				</div>
				<hr>
				<div class="product-text-text">
					{{product.text | safe }}
				</div>
			</div>
			<div class="product-options">
				<div class="index-menu-toggler">
					<div class="header-menu pure-menu pure-menu-horizontal">
					    <ul class="pure-menu-list">
					        <li onclick="show_specification();" class="pure-menu-item"><a class="pure-menu-link">Спецификация</a></li>
					        <li onclick="show_product_image();" class="pure-menu-item"><a class="pure-menu-link">Изображение</a></li>
					    </ul>
					</div>
				</div>
			</div>
		</div>



	</main>

	<footer>
		
	</footer>
</body>
</html>