{% load static %}
{% load next %}
{% load specification_cell_filter %}
<!DOCTYPE html>
<html>
<head>
	<title>{{product.title}}</title>
	<link rel="shortcut icon" type="image/x-ico" href="{% static 'img/favicon.ico' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/pure-min.css" %}">
	<script type="text/javascript" src="{% static "js/script.js" %}"></script>
</head>

<body>

	<header>
		<div class="header-logo">
			<img class="header__img-logo" src="{% static "img/logo.png"%}">
			<img class="header__img-title" src="{% static "img/title.png"%}">
		</div>
		<div class="header-menu pure-menu pure-menu-horizontal">
		    <ul class="pure-menu-list">
		        <li class="pure-menu-item"><a href="/" class="pure-menu-link">Главная</a></li>
		        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
		            <a href="/catalog" id="menuLink1" class="pure-menu-link">Каталог</a>
		            <ul class="pure-menu-children">

		            	{% for c in categories %}
		            		<li class="pure-menu-item">
		            			<a href="/catalog/{{c.id}}" class="pure-menu-link">{{c.title}}</a>
		            		</li>
		            	{% endfor %}
		                <!--<li class="pure-menu-item"><a href="#" class="pure-menu-link">1</a></li>
		                <li class="pure-menu-item"><a href="#" class="pure-menu-link">2</a></li>
		                <li class="pure-menu-item"><a href="#" class="pure-menu-link">3</a></li> -->
		            </ul>
		        </li>
		         <li class="pure-menu-item"><a href="{% url 'about' %}" class="pure-menu-link">Контакты</a></li>
		        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Новости</a></li>
		    </ul>
		</div>

	</header>

	<main class="product-main">

		<div class="product-wrapper">
			<div class="product-text">
				<div class="product-text-title">
					<h3><a href="{% url 'product_list' product.category.id %}">{{product.category}}</a>/{{product.title}}</h3>
				</div>
				<hr>
				<div class="product-text-description">
					<h2>Описание</h2>
					{{product.desctiption | safe }}	
				</div>
				<hr>
				<div class="product-text-text">
					<h2>Особенности</h2>
					{{product.text | safe }}
				</div>
			</div>
			<div class="product-options">
				<div class="index-menu-toggler">
					<div class="header-menu pure-menu pure-menu-horizontal">
					    <ul class="pure-menu-list">
					        <li onclick="show_specification();" class="pure-menu-item"><a class="pure-menu-link">Спецификация</a></li>
					        <li onclick="show_product_image();" class="pure-menu-item"><a class="pure-menu-link">Изображение</a></li>
					    </ul>
					</div>
				</div>
				<div class="product-options-specification">
					{% if product.specificationinstance_set.all %}
						<div class="product-options-table-style-title">
							Спецификации
						</div>
		
							<table class="pure-table pure-table-bordered">
								<thead>
									<th rowspan="2" class="table-index-row">
										Номер по каталогу
									</th>
									{% for field in product.specificationfield_set.all %}
										{% if field.measure %}
											<th>
												{{ field.title }}
											</th>
										{% else %}
											<th rowspan="2">
												{{ field.title }}
											</th>
										{% endif %}
									{% endfor %}
									
								
								
								<tr>
										
										{% for field in product.specificationfield_set.all %}
											
												{% if field.measure %}<th>{{ field.measure }}</th>{% endif %}
											
										{% endfor %}
								</tr>
								</thead>
								<tbody>
									{% for row in product.specificationinstance_set.all %}

											
											<tr>
												
												<td class="table-index-row">
													{{row.index|safe}}
												</td>

												{% for field in product.specificationfield_set.all %}

													{% if field|specification_cell_filter:row %}
														{{field|specification_cell_filter:row|safe}}
													{% endif %}

												{% endfor %}

											</tr>

									{% endfor %}

							</tbody>
							</table>
					{% else %}
						{% if product.specification_image %}
							<img width="100%" src="{{product.specification_image.url}}">
						{% else %}
							{% if user.is_authenticated %}
								<a href="{% url 'add_specification' product.id %}">Добавить спецификацию</a>
							{% endif %}
						{% endif %}

					{% endif %}
				</div>
				<div class="product-options-image" style="display:none">
					<button class="pure-button" onclick="resize_image('minus');">Уменьшить</button>
					<button class="pure-button" onclick="resize_image('plus');">Увеличить</button>
					<br>
					<br>
					<img class="product-image" style="width:200px"; src="{{product.image.url}}" >
				</div>
			</div>
		</div>



	</main>

	<footer>
		
	</footer>
	<script>

		var image;
		var image_width_init = -1;

		window.onload = function(){
			image = document.getElementsByClassName('product-image')[0];
			image_width_init = image.offsetWidth;
			console.log(image_width_init);
		};
		

		function resize_image(resize_type){

			if (resize_type=="minus"){
				if (image.offsetWidth - 50 > 0){
					image.style.width = (image.offsetWidth - 50) + "px";
				}
			} else if (resize_type=="plus") {
				if (image.offsetWidth + 50 < 400 ){
					image.style.width = (image.offsetWidth + 50) + "px";
				}
			}
		}

	</script>
</body>
</html>