{% extends 'base.html' %}
{% load static %}
{% block title %}
	<title>Каталог</title>
{% endblock %}
{% block content%}
		<div class="content">

				<div class="banner banner--narrow banner--category">
					<h1>Каталог</h1>
				</div>
							
				<div class="main-menu">
						{% for c in categories %}
							<a class="main-menu__button main-menu__button--catalog" href="{% url 'product_list' c.id %}">
								<div class="main-menu__text">
									<h3>{{c}}</h3>
								</div>
							</a>
						{% endfor %}
				</div>
			</main>
		</div>

{% endblock %}
